.all-form-group {
    margin-bottom: 5px;
    color: #8AAAE5;
}

.all-form-group-pages {
    color: #8AAAE5;
}

.my-account {
    margin: 0;
    color: #8AAAE5;
}

.show-button-container-edit {
    float: left;
}

.show-button-container-delete {
    float: left;
}

.navbar-brand {
    padding: 0;
    margin-bottom: 5px;
}

.submit-button {
    background:none; 
    border:none; 
    text-decoration: none; 
    color: #8AAAE5;
    text-transform: lowercase; 
    float: right;
    padding: 0px 0 10px 10px;
}

.submit-button-pages {
    color: #8AAAE5;
}

.create-hr {
    border-color: #8AAAE5;
    margin-bottom: 0;
}

.create-hr-pages {
    border-color: #8AAAE5;
    margin: 0 5px 0 5px;
}

.create-hr-upper {
    border-color: #8AAAE5;
    margin: 0 0 5px 0;
}

.main-container {
    margin-top: 10px;
}

.submit-button:hover {
    color: #2F2F31;
    text-decoration: none;
}

.date-title-style {
    margin: 15px 5px 0 0; 
    color: #8AAAE5;
    font-weight: bold;
    float: left;
}

.date-style {
    text-transform: lowercase;
    color: #8AAAE5;
    margin: 15px 0 0 0; 
    float: left;
}

.button-container {
    float: right;
}

.html-button {
    background: none; 
    border: none; 
    margin-right: 6px; 
    text-decoration: none; 
    text-transform: lowercase;
    padding:0 0 10px 0;
}

.html-button-back {
    float: left;
}

.form-group-pages {
    border-color: #8AAAE5; 
}

.html-button-left {
    margin-right: 10px;
}

.input-container-posts {
    padding: 0 15px 0 15px;
}

.posts-ask-question-button {
    margin: 14px 2px 0 0;
    padding: 0;
}

.table th {
    border-top: none;
    margin-top: 20px;
    border-color: #8AAAE5;
}

.table td {
    border-color: #8AAAE5;
}

.table thead th {
    border-color: #8AAAE5;
}


.navigation-bar {
    background-color: #8AAAE5;
}

.navigation-links {
    color: #FFFFFF;
}

.navigation-links:hover {
    color: #2F2F31;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-link {
    background:none; 
    border:none; 
    text-decoration: none; 
    color: #8AAAE5;
    text-transform: lowercase; 
}

.top-button {
    margin-top: 8px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.slug-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 5px;
}

.questions-hr {
    margin-top: 25px;
}

.register-dropdown {
    background-color: #8AAAE5;
    padding-left: 3px;
}

.register-link {
    margin-right: 15px;
    padding: .5rem 1rem;
    padding-left: 0;
    padding-right: 0;
}

.login-link {
    padding: .5rem 1rem;
    padding-left: 0;
    padding-right: 0;
}

.capitalize {
    text-transform: capitalize;
}

.table-styling {
    word-break: break-all;
}

.account-data{
    display: inline-block;
}

.profile-image {
    width: 30px;
    height: 30px;
    margin: 5px 7px 0 0;
    float: left; 
}

.author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
}

.author img{
    margin-top: 10px;
}

.author-name> p{
    margin: 0;
}

.comment-text {
    clear: both;
    margin-left: 45px;
    color: #496496;
}

.comment {
    margin-bottom: 20px;
    margin-top: 20px;
}

.categories-button {
    text-decoration: none;
    color: #8AAAE5;
    background: none;
    text-transform: uppercase;
    line-height: 40px;
}

.categories-button:hover {
    color: #2F2F31;
    text-decoration: none;
}

.comment-form {
    margin-top: 20px;
}

.profile-name-tag {
    margin-right: 20px;
}

.profile-picture-img {
    border-radius: 50%;
}

.profile-page-name {
    margin-top: 30px;
    margin-left: 163px;
}

.profile-href {
    margin: 15px 5px 0 0; 
    color: #8AAAE5;
    font-weight: bold;
}

.profile-href:hover {
    color: #2F2F31;
    text-decoration: none;
} 

.folders {
    border: 1px solid #8aaae5;
    border-radius: 0 15px 0 0;
    line-height: 75px;
    margin: 5px;
}

.add-plus {
    font-size: 50px;
    margin: 5px;
}

.add-plus:hover {
    color: #2F2F31;
    text-decoration: none;
}

.add-container {
    border: 1px solid #8aaae5;
    margin-top: 50px;
}

.folder-action-buttons {
    margin-top: 47px;
    padding: 0;
}

.category-box {
    line-height: 75px;
    margin: 5px;
    border: 1px solid #8aaae5;
    border-radius: 20px;
    margin-bottom: 40px;
}

.course-year {
    margin-top: 20px;
}

.image-position {
    margin-top: 10px;
}

.resend-button {
    text-decoration: none; 
    color: #8AAAE5;
    text-transform: lowercase; 
}

.resend-button:hover {
    text-decoration: none; 
    color: #2F2F31;
}

.table td {
    padding-bottom: 25px;
}

.author-post{
    display: inline-block;
}

.folder-author {
    margin-left: 3px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

table {
    width: 50%;
}

.delete-user {
    color: #9b111e;
}

.welcome-text {
    line-height: 40px;
}

.welcome-container {
    margin-top: 20px;
}

.about-page {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 20px;
}

.welcome-questions {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 40px;
}

.image-carousel {
    margin-top: 50px;
    margin: auto;
    padding: 10px;
}


@media only screen and (max-width: 900px) {
    .table-category{
        display: none;
    }
    .table-time {
        display: none;
    }

    .folder-action-buttons-questions {
        margin-top: 67px;
    }
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    h1 {
        margin-top: 12px;
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        font-size: 15px;
    }
}
